{% extends "main.html" %}

{% block page_title %}
    Choice
{% endblock %}

{% block page_content %}
    <div class="card-container">
        <div class="card-title">
            <p>Choose what kitty you are today!</p>
        </div>
        <div class="card" onclick="castVote('happy')">
            <img src="{{ url_for('static', path='/images/happy.png') }}" alt="happy cat">
            <div class="card-content">
                <p>I am a happy kitty, purring like there is no tomorrow!</p>
            </div>
        </div>
        <div class="card" onclick="castVote('meow')">
            <img src="{{ url_for('static', path='/images/meow.png') }}" alt="meow cat">
            <div class="card-content">
                <p>Meowing, energetic, wanna do stuff and run everywhere!</p>
            </div>
        </div>
        <div class="card" onclick="castVote('thinking')">
            <img src="{{ url_for('static', path='/images/thinking.png') }}" alt="thinking cat">
            <div class="card-content">
                <p>I am a feline of thinking. Ever observating and making conclusions.</p>
            </div>
        </div>
        <div class="card" onclick="castVote('crying')">
            <img src="{{ url_for('static', path='/images/crying.png') }}" alt="crying cat">
            <div class="card-content">
                <p>Life's not fair! Too many homeworks! I have paws, goddammit!</p>
            </div>
        </div>
    </div>
{% endblock %}