<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block page_title %}{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', path='css/style.css') }}">
    <link rel="icon" href="{{ url_for('static', path='images/favicon.ico') }}" type="image/x-icon">
    <script src="{{ url_for('static', path='js/code.js') }}" defer></script>
</head>
<body>
    {% include "header.html" %}

    {% block page_content %}
    {% endblock %}

    {% include "footer.html" %}
</body>
</html>
