<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Stats</title>
    <link rel="stylesheet" href="static/style.css">
    <link rel="icon" href="static/favicon.ico" type="image/x-icon">
</head>
<body>
    <div class="card-container">
        <div class="card-title">
            <p>Here are the votes! Refresh to see updates.</p>
            <p><b>Last refresh:</b> 2024-10-24 01:55</p>
        </div>
        <div class="card">
            <img src="static/happy.png" alt="Image 1">
            <div class="card-content">
                <p>Happy - 7 / 18 votes</p>
                <div class="bar-container">
                    <div class="bar" style="width: 100%;"></div>
                </div>
            </div>
        </div>
        <div class="card">
            <img src="static/thinking.png" alt="Image 1">
            <div class="card-content">
                <p>Thinking - 5 / 18 votes</p>
                <div class="bar-container">
                    <div class="bar" style="width: 71%;"></div>
                </div>
            </div>
        </div>
        <div class="card">
            <img src="static/crying.png" alt="Image 1">
            <div class="card-content">
                <p>Crying - 4 / 18 votes</p>
                <div class="bar-container">
                    <div class="bar" style="width: 57%;"></div>
                </div>
            </div>
        </div>
        <div class="card">
            <img src="static/meow.png" alt="Image 1">
            <div class="card-content">
                <p>Meow - 2 / 18 votes</p>
                <div class="bar-container">
                    <div class="bar" style="width: 29%;"></div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
